<div class="card-body">
    <div class="tab-content">
        <div class="active tab-pane">
            <br>
           <div class="">
               <div class="center">
                <div class="start"></div>
                   <h1>Expedientes</h1>
                   <div class="end">
                       <button type="button" class="btn btn-success" (click)="nuevoExpediente()"><span class="d-none d-md-block">Agregar Expediente</span><mat-icon class="d-block d-md-none">add</mat-icon></button>
                   </div>
                </div>
            </div>
            <mat-form-field color="accent" class="search">
                <input matInput placeholder="Buscar" (keyup)="applyFilter($any($event.target).value)">
                <mat-icon matPrefix class="my-icon">search</mat-icon>
            </mat-form-field>
            <section color="accent" appearance="fill">
                <mat-checkbox matInput class="example-margin" [checked]="filterPendientes" (change)="onChangePendientes()">Filtrar Pendientes</mat-checkbox>
            </section>
            <div class="col-sm-12 grilla">
                <table mat-table [dataSource]="dataSource" class="tabla" #table matSort (matSortChange)="announceSortChange($event)" >                          
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.fecha.slice(0,10)}} </td>
                    </ng-container>
                    <ng-container matColumnDef="expediente">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Expediente </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.expediente1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="caratula">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Caratula </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.caratulaNombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fechaExpediente">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Exp. </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.fechaExpediente.slice(0,10)}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Documento</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.documento}}</td>
                    </ng-container>
                    <ng-container matColumnDef="acto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acto</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.actoNombre}}</td>
                    </ng-container>
                    <ng-container matColumnDef="situacionRevista">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Revista</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.situacionRevistaNombre}}</td>
                    </ng-container>
                    <ng-container matColumnDef="firmadoSumario">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Firma Sum.</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox class="example-margin" [checked]="element.firmadoSumario" (change)="onChangeFirmadoSum(element)"></mat-checkbox>
                    </ng-container>
                    <ng-container matColumnDef="firmadoLaborales">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Firma Lab.</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox class="example-margin" [checked]="element.firmadoLaborales" (change)="onChangeFirmadoLab(element)"></mat-checkbox>
                    </ng-container>
                    <ng-container matColumnDef="enviadoLaborales">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Enviado</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox class="example-margin" [checked]="element.enviadoLaborales" (change)="onChangeEnviadoLab(element)"></mat-checkbox>
                    </ng-container>
                    <ng-container matColumnDef="avisado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Avisado</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox class="example-margin" [checked]="element.avisado" (change)="onChangeAvisado(element)"></mat-checkbox>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef class="text-end">Acciones</th>
                        <td mat-cell *matCellDef="let element" class="text-end">
                            <section>                                
                                <div class="example-button-row">
                                    <div class="example-flex-container">                                                           
                                        <button mat-mini-fab class="green" (click)="ver(element)" matTooltip="Modificar">                                    
                                            <mat-icon style="cursor: pointer;">edit_square</mat-icon>                                    
                                        </button>
                                        &nbsp;&nbsp;
                                        <button mat-mini-fab class="delete" (click)="eliminar(element)" matTooltip="Eliminar">                                    
                                            <mat-icon style="cursor: pointer;">delete</mat-icon>                                    
                                        </button>                           
                                    </div>
                                </div>                                
                            </section>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="nombreColumnas" style="background-color: #EFEFEF"></tr>
                    <tr class="fila" mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
                </table>
                <div class="paginator">
                    <mat-divider></mat-divider>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
                                [pageSize]="20"
                                showFirstLastButtons
                                aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>