.center{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: rgb(6,0,115);
    background: linear-gradient(0deg, rgba(6,0,115,1) 0%, rgba(9,9,121,1) 24%, rgba(0,125,255,1) 100%);
    color: white;
    opacity: 0.8;
    margin-bottom: 20px;
    border-radius: 7px;
  }

  .center>h1{
    padding-top: 16px;
  }

.card-body{
    margin: 1% 10%;
}

.mat-table {
    width: 100% !important;
}

.tabla {
    width: 100%;
    text-align: left;
}

.grilla{
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
}

.enabled {
    /* background-color: #a27b7b; */
    background-color: none;
}

.disabled {
    background-color: #f0f0f0;
}

.mat-row:hover {
    background-color: #d9f8d3 !important;
}

mat-icon{
    color: white;
}

.header{
    background-color: rgb(79, 149, 223)
}

th{
    color: white;
}

.green{
    background-color: green;
}

.delete{
    background-color: crimson;
}

.example-flex-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
  
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    padding-right: 10px;
    margin-right: 10px;
}

.search{
    padding: 0 20%;
    width: 100%;
}

.dialog-actions{
    display: flex;
    justify-content: space-evenly;
    padding: 20px
}


.end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}


  .center>h1{
    padding-top: 16px;
  }

  .start{
    width: 174px;
  } 

@media screen and (max-width: 575px) {
    th, td{        
        text-align: center!important;
        font-size: 11px;        
    } 

    th{
        padding-left: 30px;
    }

    .example-button-row {
        display: flex;
        justify-content: center;
        width: 80px;
    }

    .example-flex-container {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .example-flex-container>button{
        height: 25px;
        width: 25px;
    }

    .green>mat-icon, .delete>mat-icon{
        font-size: 14px;
        height: 14px;
        width: 14px;
    }

    .ciudades, .contenido{
        display: none;
    }

    .search{
        margin-top: 5px;
        padding: 0 8%;
    }   

    .start{
        width: 52px;
      }

  }